* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  background-color: #f5f6fa;
  padding: 20px;
}

.app__dropdown {
  background-color: white;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__header > h1 {
  color: #364f6b;
  font-size: 2rem;
}

.app__stats, .app__stats_small  {
  display: flex;
  justify-content: space-between;
}
.app__stats_small {
  margin-top: 15px;
}

.app__left {
  flex: 0.9;
}

.app__information > h3 {
  color: #6a5d5d;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.app__information > h3:last-of-type {
  margin-top: 1rem;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}

.pieWithout {
  margin-top: 22px;
}
.beginning{
  height: 500px;
}
.heading {
  font-family: Garamond , Georgia, Garamond ;
}
.footer-style, .footer-small-screen {
  background-color: #2323be;
  color: rgb(203, 201, 219);
  font-size: 1em;
  border: 2px solid #1616c0;
  border-top-left-radius: 3px;
  text-align: center;
  padding: -4px;
}
.footer-small-screen {
  font-size: .9em;
}
.red-footer{
  background-color: #d32424;
  border: 2px solid #d32424;
}